<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/img/favicon.ico">

    <title>Gin Framework Boilerplate</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/materialize/bin/materialize.css" />
    <!-- endbower -->
</head>

<body>

    {{ template "index" .}}

    <!-- bower:js -->
    <script src="../bower_components/blocks/dist/blocks.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/materialize/bin/materialize.js"></script>
    <!-- endbower -->
</body>
</html>
